*{
    margin: 0;
}
body{
    background-color: hsl(30, 38%, 92%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* montserrat-500 - latin */
@font-face {
    font-display: swap;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url('fonts/montserrat-v25-latin-500.woff2') format('woff2');
}

/* montserrat-700 - latin */
@font-face {
    font-display: swap;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('fonts/montserrat-v25-latin-700.woff2') format('woff2');
}

/* Fraunces-700 - latin */
@font-face {
    font-display: swap;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 700;
    src: url('fonts/fraunces-v31-latin-700.woff2') format('woff2');
}
main{
    width: 654px;
    height: 500px;
    background-color: white;
    position: relative;
    border-radius: 10px;
}

img {
    width: 327px;
    height: 500px;
    position: absolute;
    left:0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.product{
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    left: 362px;
    color: #787a86;
    top: 32px;
    font-size: 0.875rem;
    letter-spacing: 4px;
}

.name{
    font-family: 'Fraunces', serif;
    position: absolute;
    left: 362px;
    color: black;
    top: 77px;
    width: 199px;
    height: 115px;
    font-size: 32px;
    font-weight: 700;
}

.product-info{
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    left: 362px;
    top: 226px;
    width: 256px;
    height: 97px;
    color: hsl(228, 12%, 48%);
    line-height: 1.5;
}

.price-after {
    font-family: 'Fraunces', serif;
    position: absolute;
    left: 362px;
    color: #40836c;
    top: 351px;
    width: 133px;
    height: 40px;
    font-size: 32px;
    font-weight: 700;
}

.price-before {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    left: 520px;
    color: hsl(228, 12%, 48%);
    top: 362px;
    width: 133px;
    height: 40px;
    font-size: 15px;
    text-decoration: line-through;
}

/* button{
    position: absolute;
    left: 362px;
    background-color: #40836c;
    top: 416px;
    width: 233px;
    height: 53px;
    border-radius: 10px;
    border-width: 0;
} */

button{
    position: absolute;
    left: 362px;
    background-color: #40836c;
    top: 416px;
    width: 233px;
    height: 53px;
    border-radius: 10px;
    border-width: 0;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 0.875rem;
    padding-left: 24px;
}


.ico{
    top: 17px;
    left: 63px;
    position: absolute;
    width: 15px;
    height: 16px;
} 


button:hover{
    background-color: #194131;
}

.attribution{
    position: absolute;
    bottom: -41px;
    left: 142px;
}