*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1[aria-label]{
    display: none;
}
body{
    background-color: hsl(30, 38%, 92%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
main{
    width: 588px;
    height: 450px;
    background-color: white;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(294px, 1fr));
}
.content{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    padding: 13px 30px;
}
.prices{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}
img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
img+img{
    display: none;
}

.product{
    font-family: 'Montserrat', sans-serif;
    color: #787a86;
    font-size: 0.875rem;
    letter-spacing: 4px;
}

.name{
    font-family: 'Fraunces', serif;
    color: black;
    font-size: 32px;
    font-weight: 700;
}

.product-info{
    font-family: 'Montserrat', sans-serif;
    color: hsl(228, 12%, 48%);
    line-height: 1.5;
}

.price-after {
    font-family: 'Fraunces', serif;
    color: #40836c;
    font-size: 32px;
    font-weight: 700;
}

.price-before {
    font-family: 'Montserrat', sans-serif;
    color: hsl(228, 12%, 48%);
    font-size: 15px;
    text-decoration: line-through;
}


button{
    background-color: #40836c;
    width: 233px;
    height: 53px;
    border-radius: 10px;
    border-width: 0;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 0.875rem;
    padding-left: 24px;
}


.ico{
    width: 15px;
    height: 16px;
} 


button:hover{
    background-color: #194131;
}

.attribution{
    margin-top: 50px;
}
@media (max-width: 602px){
    main {
            height: 588px;
            width: 327px;
            background-color: white;
            border-radius: 10px;
            display: flex;
            justify-content: space-between;
            flex-flow: column wrap;
        }
    h1+img{
        display: none;
    }
    img+img{
        display: block;
        width: 100%;
        height: 38%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0;
    }
    .content{
        padding: 15px 20px;
        height: 62%;
    }
    .name{
        font-size: 28px;
    }
    .product-info{
        font-size: 14px;
    }
    .prices{
        width: 73%;
    }
    button{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 24px;
    }
    svg{
        margin-right: 10px;
    }
}

/* montserrat-500 - latin */
@font-face {
    font-display: swap;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url('fonts/montserrat-v25-latin-500.woff2') format('woff2');
}

/* montserrat-700 - latin */
@font-face {
    font-display: swap;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('fonts/montserrat-v25-latin-700.woff2') format('woff2');
}

/* Fraunces-700 - latin */
@font-face {
    font-display: swap;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 700;
    src: url('fonts/fraunces-v31-latin-700.woff2') format('woff2');
}